body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    /*background-color: #bada55;*/
}
h1 {
    width: 100%;
    text-align: center;
}
#tetris {
    position: relative;
    width: 320px;
    height: 420px;
    /*background-color: #f2f2f2;*/
}
#game-layer, #ui-layer, #background-layer { position: absolute; }
#game-layer { z-index: 3; }
#ui-layer { z-index: 2; }
#background-layer { z-index: 1; }